*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: arial, helvetica, sans-serif;
    line-height: 1.6;
    background-color:#1b7ceb;
    color:#35d698;
    padding: #725072

}
header{
     background-color:#e1e9e3;
    color:#87e294;
    padding: #b3a4b3   
    text-align: center;
}
nav{
    background-color:#3b7183;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}    
nav a{
    color: #000066;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}     

